* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contacts {
  padding: 2rem;
  max-width: 800px;
  border: 1px solid grey;
}
.header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  gap: 2rem;
}
.header h2 {
  font-size: 40px;
}
.header button {
  padding: 12px 30px;
  cursor: pointer;
}
.contact {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  /* align-items: center; */
  gap: 2rem;
  margin-bottom: 1rem;
}
.contact a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.bx {
  font-size: 1.1rem;
}
.editing-features {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.editing-features button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.contactsForm {
  background-color: black;
  padding: 1.5rem;
  color: white;
  width: 60%;
  height: 50%;
  margin-top: 2rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 1rem;
}
.form-field input {
  color: white;
  border-radius: 0.4rem;
  background-color: transparent;
  border: 1px solid gray;
  padding: 0.4rem 0.6rem;
}
.createBtn {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
}
.cancelBtn {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
}
.dtn {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}
.contactsForm {
  position: fixed;
  top: 30%;
  left: 22%;
}
.contactsForm {
  display: none;
}
.user-card {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: brown;
}

.tabs {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}
.tabs button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.tabs button.activceTab {
  border-bottom: 2px solid blue;
  color: blue;
  font-weight: bold;
}

.hideTabContent {
  display: none;
}
